<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitcheckout>
            <version>1.3.23</version>
        </Aitoc_Aitcheckout>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Aitoc_Aitcheckout>
                    <files>
                        <default>Aitoc_Aitcheckout.csv</default>
                    </files>
                </Aitoc_Aitcheckout>
            </modules>
        </translate>
        <routers>
            <aitcheckout>
                <use>standard</use>
                <args>
                    <module>Aitoc_Aitcheckout</module>
                    <frontName>aitcheckout</frontName>
                </args>
            </aitcheckout>
        </routers>
        <layout>
            <updates>
                <aitcheckout>
                    <file>aitcheckout.xml</file>
                </aitcheckout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitcheckout>
                    <files>
                        <default>Aitoc_Aitcheckout.csv</default>
                    </files>
                </Aitoc_Aitcheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitcheckout>
                    <file>aitcheckout.xml</file>
                </aitcheckout>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <aitcheckout>
                <class>Aitoc_Aitcheckout_Model</class>
                <resourceModel>aitcheckout_mysql4</resourceModel>
            </aitcheckout>
            <aitcheckout_mysql4>
                <class>Aitoc_Aitcheckout_Model_Mysql4</class>
                <entities>
                    <aitcheckout>
                        <table>aitcheckout</table>
                    </aitcheckout>
                </entities>
            </aitcheckout_mysql4>
            <checkout>
                <rewrite>
                    <type_onepage>Aitoc_Aitcheckout_Model_Rewrite_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <core>
                <rewrite>
                    <url>Aitoc_Aitcheckout_Model_Rewrite_Core_Url</url>
                </rewrite>
            </core>
        </models>
        <resources>
            <aitcheckout_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitcheckout_setup>
            <aitcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitcheckout_write>
            <aitcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitcheckout_read>
        </resources>
        <blocks>
            <aitcheckout>
                <class>Aitoc_Aitcheckout_Block</class>
            </aitcheckout>
            <checkout>
                <rewrite>
                    <onepage_payment_methods>Aitoc_Aitcheckout_Block_Rewrite_CheckoutOnepagePaymentMethods</onepage_payment_methods>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <aitcheckout>
                <class>Aitoc_Aitcheckout_Helper</class>
            </aitcheckout>
        </helpers>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>onPredispatchCheckoutOnepageIndex</method>
                    </aitcheckout>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_aitcheckout_customer_account_loginAjax>
                <observers>
                    <captcha>
                        <class>aitcheckout/observer</class>
                        <method>checkCheckoutLoginCaptcha</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_aitcheckout_customer_account_loginAjax>
            <controller_action_predispatch_aitcheckout_customer_account_forgotPasswordAjax>
                <observers>
                    <captcha>
                        <class>aitcheckout/observer</class>
                        <method>checkCheckoutLoginCaptcha</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_aitcheckout_customer_account_forgotPasswordAjax>
            <payment_method_is_active>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>updateQuote</method>
                    </aitcheckout>
                </observers>
            </payment_method_is_active>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>onPredispatchCheckoutCartIndex</method>
                    </aitcheckout>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>onOnepageSaveOrderAfter</method>
                    </aitcheckout>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_convert_quote_to_order>
                <observers>
                    <aitcheckout>
                        <class>aitcheckout/observer</class>
                        <method>onSalesOrderPlaceBefore</method>
                    </aitcheckout>
                </observers>
            </sales_convert_quote_to_order>
            <aitcheckout_save_order>
                <observers>
                    <giftmessage>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
            </aitcheckout_save_order>
            <controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
                <observers>
                    <save_default_payment>
                        <type>model</type>
                        <class>aitcheckout/observer</class>
                        <method>beforeSagepaySaveOrder</method>
                    </save_default_payment>
                </observers>
            </controller_action_predispatch_sagepaysuite_payment_onepageSaveOrder>
            
            
        </events>
    </global>
    <default>
        <checkout>
            <aitcheckout>
                <checkout_show_method>3</checkout_show_method>
                <design_type>0</design_type>
                <show_title>1</show_title>
                <title_text>Checkout</title_text>
                <show_proceed_to_checkout_button>1</show_proceed_to_checkout_button>
                <conditions_mode>0</conditions_mode>
                <popup_width>640</popup_width>
                <popup_height>480</popup_height>
                <checkbox_behavior>0</checkbox_behavior>
            </aitcheckout>
        </checkout>
    </default>
</config>
<!--
/**
 * Product:     One-Page Checkout Booster
 * Package:     Aitoc_Aitcheckout_1.3.23_402374
 * Purchase ID: xiV6MfXRmTSGh2Y43bx6V0jXUK5bHK0Rez65sSGYYW
 * Generated:   2012-10-18 00:11:49
 * File path:   app/code/local/Aitoc/Aitcheckout/etc/config.xml
 * Copyright:   (c) 2012 AITOC, Inc.
 */
-->
